asgiref==3.7.2; python_version >= "3.8"
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.8"
django-cors-headers==4.2.0; python_version >= "3.8"
django-restframework==0.0.1
django==4.2.4; python_version >= "3.8"
djangorestframework==3.14.0; python_version >= "3.6"
python-decouple==3.8
pytz==2023.3; python_version >= "3.6"
sqlparse==0.4.4; python_version >= "3.8"
typing-extensions==4.7.1; python_version < "3.11" and python_version >= "3.8"
tzdata==2023.3; sys_platform == "win32" and python_version >= "3.8"
