@theme {
    --font-bangers: "Bangers", "sans-serif";
    --font-honk: "Honk", "sans-serif";
    --font-nunito: "Nunito", "sans-serif";

    --color-primary: #ff42ab;
    --color-secondary: #fed75a;
}